article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    height: auto;
}

figcaption {
    text-align: center;
    font-style: normal;
    font-size: 1.0em;
    margin-top: 10px;
    color: #444343;
}